/* Default css */
*{
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
img{
    max-width: 100%;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

/* Header css */
.fixed-width{
    width: 980px;
    margin: auto;
}

.header{
    background-color: #bdc3c7;
}
.header-left{
    float: left;
    width: 30%;
}
.header-left img{
    width: 212px;
    height: auto;
}
.header-right{
    float: right;
    width: 70%;
}

.header-right ul{
    text-align: right;
}
.header-right ul li{
    display: inline-block;
    margin-left: -5px;
}
.header-right ul li a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 0 30px;
    line-height: 97px;
    border-right: 1px solid white;
    transition: .4s;
}
.header-right ul li a:hover{
    background: #1abc9c;
}

/* Banner */
.banner{
    background: url(img/slider03.jpeg) no-repeat center;
    padding: 180px 0;
    background-size: cover;
    background-attachment: fixed;
}
.banner-caption{}
.banner-caption h1{
    background: rgba(0,0,0,.4);
    color: #fff;
    max-width: 353px;
    margin: auto;
    margin-top: auto;
    font-size: 30px;
    border-radius: 5px;
    padding: 7px 0;
    margin-top: 21px;
}
.banner-caption h2{
    background: rgba(26, 243, 36, .9);
    color: #fff;
    display: inline-block;
    font-size: 20px;
    border-radius: 5px;
    padding: 7px 10px;
}
/* About */
.about{
    /* margin-top: 60px; */
    background: #ecf0f1;
    padding: 60px 0;
}
.about h2 {
    font-size: 38px;
    margin-bottom: 20px;
}
.about p {
    max-width: 714px;
    margin: auto;
    font-size: 21px;
}

/* Service Section */

.service{
    background-color: #f9f9f9;
    padding: 80px;
}
.service-item{
    float: left;
    width: 31.3%;
    border: 1px solid #ddd;
    padding: 25px 10px;
    box-sizing: border-box;
    margin-left: 1%;
    margin-right: 1%;
}
.service-item h3{
    margin: 20px 0;
    font-size: 30px;
}
.service-item span{
    display: block;
    height: 60px;
    width: 60px;
    background: #2ecc71;
    color: white;
    margin: auto;
    font-size: 35px;
    line-height: 60px;
    border-radius: 20px 0 20px 0;
}

/* blog Section */
.blog-contain{
    padding-top: 60px;
    padding-bottom: 40px;
}
.blog-left-content{
    float: left; 
    width: 70%;
}
.blog-left-notification{
    float: right;
    width: 25%;
}
.blog-item{
    margin-bottom: 30px;
}
.blog-item img{
    float: left;
    width: 160px;
    height: auto;
    margin-right: 15px;
}
/* blog notification */
.blog-left-notification{}
.blog-left-notification h2 {
    font-size: 33px;
    border-bottom: 2px solid #34495e;
    padding-bottom: 6px;
    margin-bottom: 12px;
}
.blog-left-notification ul{
    list-style: none;
}
.blog-left-notification ul li{
    border: 1px solid #ddd;
    background: #fafafa;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 9px;
    border-radius: 5px;
    transition: .5s;
}
.blog-left-notification ul li:hover{
    background: #2ecc71;
}

/* footer */
.footer{
    background: #34495e;
    color: white;
    font-size: 20px;
    padding: 18px 0;
}
.left-footer{
    float: left;
    width: 40%;
}
.right-footer{
    float: right;
    width: 60%;
}

.footer-manu{
    text-align: right;
}
.footer-manu li{
    display: inline-block;
}
.footer-manu li a{
    color: white;
    font-size: 30px;
    margin-left: 10px;
    transition: .5s;
}
.footer-manu li a:hover{
    background: #c0392b;
}